In [1]:
import numpy as np
import pandas as pd

In [2]:
Book=pd.read_csv("Books.csv")
Rating=pd.read_csv("Ratings.csv")
User=pd.read_csv("Users.csv")

C:\Users\HP\AppData\Local\Temp\ipykernel_4500\1020967084.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Book=pd.read_csv("Books.csv")

In [3]:
Book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
Rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726   155061224            5
2   276727   446520802            0
3   276729  052165615X            3
4   276729   521795028            6

In [5]:
User.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
Book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [7]:
Rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1048575 non-null  int64
 1   ISBN         1048575 non-null  object
 2   Book-Rating  1048575 non-null  int64
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

In [8]:
User.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [9]:
Book.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271358,271360,271358,271360,271360,271357
unique,271360,242135,102022,202,16807,271044,271044,271041
top,020130998X,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/155936078X.0...,http://images.amazon.com/images/P/155936078X.0...,http://images.amazon.com/images/P/155936078X.0...
freq,1,27,632,13903,7535,2,2,2

In [10]:
Book.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [11]:
Rating=Rating.merge(User,on="User-ID")

In [12]:
Book=Book.merge(Rating,on="ISBN")

In [13]:
Book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179091 entries, 0 to 179090
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 179091 non-null  object
 1   Book-Title           179091 non-null  object
 2   Book-Author          179090 non-null  object
 3   Year-Of-Publication  179091 non-null  object
 4   Publisher            179089 non-null  object
 5   Image-URL-S          179091 non-null  object
 6   Image-URL-M          179091 non-null  object
 7   Image-URL-L          179088 non-null  object
 8   User-ID              179091 non-null  int64
 9   Book-Rating          179091 non-null  int64
 10  Location             179091 non-null  object
 11  Age                  134321 non-null  float64
dtypes: float64(1), int64(2), object(9)
memory usage: 16.4+ MB

In [14]:
Book.isnull().sum()

ISBN                       0
Book-Title                 0
Book-Author                1
Year-Of-Publication        0
Publisher                  2
Image-URL-S                0
Image-URL-M                0
Image-URL-L                3
User-ID                    0
Book-Rating                0
Location                   0
Age                    44770
dtype: int64

In [15]:
Book['Age']=Book['Age'].fillna(Book['Age'].mean())

In [16]:
# Book['Age_y']=Book['Age_y'].fillna(Book['Age_y'].mean())

In [17]:
Book['Age'].isnull().sum()

np.int64(0)

In [18]:
# Book.drop('Age_y',axis=1,inplace=True)

In [19]:
# Book.drop('Location_y',axis=1,inplace=True)

In [20]:
Book.rename(columns={"Age_x":"Age"},inplace=True)

#change age into decimal into int

In [21]:
Book.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
9257,3518368540,Homo Faber,Max Frisch,0,Distribooks Int'l+inc,http://images.amazon.com/images/P/3518368540.0...,http://images.amazon.com/images/P/3518368540.0...,http://images.amazon.com/images/P/3518368540.0...,1330,10,"swisttal, nordrhein-westfalen, germany",36.234736
106694,8807807203,Garzanti - Gli Elefanti: Blues Di Bay City,Chandler,0,Feltrinelli,http://images.amazon.com/images/P/8807807203.0...,http://images.amazon.com/images/P/8807807203.0...,http://images.amazon.com/images/P/8807807203.0...,100345,8,"genova, liguria, italy",36.234736
9421,031215125X,The Far Pavilions,M. M. Kaye,1997,St. Martin's Press,http://images.amazon.com/images/P/031215125X.0...,http://images.amazon.com/images/P/031215125X.0...,http://images.amazon.com/images/P/031215125X.0...,8362,0,"los angeles, california, usa",28.000000
139570,1565924266,Learning the vi Editor (6th Edition),Linda Lamb,1998,O'Reilly,http://images.amazon.com/images/P/1565924266.0...,http://images.amazon.com/images/P/1565924266.0...,http://images.amazon.com/images/P/1565924266.0...,87141,8,"huntington beach, california, usa",36.234736
111662,051745999X,92 Stories,James Thurber,1987,Random House Value Pub,http://images.amazon.com/images/P/051745999X.0...,http://images.amazon.com/images/P/051745999X.0...,http://images.amazon.com/images/P/051745999X.0...,171078,0,"langley, british columbia, canada",43.000000

In [22]:
new_rating=Book.groupby('Book-Author').count()['Book-Rating'].reset_index()

In [23]:
print(new_rating)

                  Book-Author  Book-Rating
0                J. D. Landis            1
1                 Mimma Balia            1
2                        2000            2
3                        2003            1
4                 A E Hartink            2
...                       ...          ...
37703          Â¢ystein LÂ²nn            1
37704     Ã?dÃ¶n von HorvÃ¡th            4
37705  Ã?Â?dÃ?Â¶n von Horvath            2
37706          Ã?Â?pictÃ?Â¨te            2
37707          Ã?Â?ric Holder            3

[37708 rows x 2 columns]

In [24]:
Book.shape

(179091, 12)

In [25]:
new_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37708 entries, 0 to 37707
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Book-Author  37708 non-null  object
 1   Book-Rating  37708 non-null  int64
dtypes: int64(1), object(1)
memory usage: 589.3+ KB

In [26]:
new_rating.isnull().sum()

Book-Author    0
Book-Rating    0
dtype: int64

In [27]:
avg_rating=Book.groupby('Book-Title').agg({'Book-Rating':np.mean}).reset_index()

C:\Users\HP\AppData\Local\Temp\ipykernel_4500\262375472.py:1: FutureWarning: The provided callable <function mean at 0x0000021C04D50540> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  avg_rating=Book.groupby('Book-Title').agg({'Book-Rating':np.mean}).reset_index()

In [28]:
print(avg_rating)

                                              Book-Title  Book-Rating
0       Earth Prayers From around the World: 365 Pray...     5.555556
1       Final Fantasy Anthology: Official Strategy Gu...     5.000000
2       Flight of Fancy: American Heiresses (Zebra Ba...     4.000000
3       Little Comic Shop of Horrors (Give Yourself G...     0.000000
4                                           Mystery Mile     0.000000
...                                                  ...          ...
64752                                 Ã?Â?l- Connection.     0.000000
64753                                      Ã?Â?lpiraten.     0.000000
64754                     Ã?Â?rger mit Produkt X. Roman.     5.250000
64755                              Ã?Â?stlich der Berge.     4.000000
64756                                  Ã?Â?thique en toc     4.000000

[64757 rows x 2 columns]

In [29]:
Popular_Book=Book.merge(avg_rating,on='Book-Title')

In [30]:
print(Popular_Book)

              ISBN                                         Book-Title  \
0       074322678X            Where You'll Find Me: And Other Stories
1       080652121X  Hitler's Secret Bankers: The Myth of Swiss Neu...
2       1552041778                                           Jane Doe
3       1558746218  A Second Chicken Soup for the Woman's Soul (Ch...
4       1558746218  A Second Chicken Soup for the Woman's Soul (Ch...
...            ...                                                ...
179086  8401424828                                 Hija de Homero, La
179087  1565120752                                       Winter Birds
179088  067167806X  From Winchester to Cedar Creek: The Shenandoah...
179089  1561709085  Inner Peace for Busy People: Simple Strategies...
179090  8874960018           L'Occhio Nero Al Panda Gliel'ho Fatto IO

                  Book-Author Year-Of-Publication  \
0                 Ann Beattie                2002
1                  Adam Lebor                2000
2                R. J. Kaiser                1999
3               Jack Canfield                1998
4               Jack Canfield                1998
...                       ...                 ...
179086          Robert Graves                1996
179087           Jim Grimsley                1994
179088         Jeffry D. Wert                1989
179089  Joan, Ph.D. Borysenko                2001
179090           Paolo Migone                2003

                               Publisher  \
0                               Scribner
1                          Citadel Press
2                             Mira Books
3                  Health Communications
4                  Health Communications
...                                  ...
179086  Plaza &amp; Janes Editores, S.A.
179087    Algonquin Books of Chapel Hill
179088                        Touchstone
179089             Hay House Audio Books
179090                          Kowalski

                                              Image-URL-S  \
0       http://images.amazon.com/images/P/074322678X.0...
1       http://images.amazon.com/images/P/080652121X.0...
2       http://images.amazon.com/images/P/1552041778.0...
3       http://images.amazon.com/images/P/1558746218.0...
4       http://images.amazon.com/images/P/1558746218.0...
...                                                   ...
179086  http://images.amazon.com/images/P/8401424828.0...
179087  http://images.amazon.com/images/P/1565120752.0...
179088  http://images.amazon.com/images/P/067167806X.0...
179089  http://images.amazon.com/images/P/1561709085.0...
179090  http://images.amazon.com/images/P/8874960018.0...

                                              Image-URL-M  \
0       http://images.amazon.com/images/P/074322678X.0...
1       http://images.amazon.com/images/P/080652121X.0...
2       http://images.amazon.com/images/P/1552041778.0...
3       http://images.amazon.com/images/P/1558746218.0...
4       http://images.amazon.com/images/P/1558746218.0...
...                                                   ...
179086  http://images.amazon.com/images/P/8401424828.0...
179087  http://images.amazon.com/images/P/1565120752.0...
179088  http://images.amazon.com/images/P/067167806X.0...
179089  http://images.amazon.com/images/P/1561709085.0...
179090  http://images.amazon.com/images/P/8874960018.0...

                                              Image-URL-L  User-ID  \
0       http://images.amazon.com/images/P/074322678X.0...        8
1       http://images.amazon.com/images/P/080652121X.0...        8
2       http://images.amazon.com/images/P/1552041778.0...        8
3       http://images.amazon.com/images/P/1558746218.0...        8
4       http://images.amazon.com/images/P/1558746218.0...     3363
...                                                   ...      ...
179086  http://images.amazon.com/images/P/8401424828.0...   249320
179087  http://images.amazon.com/images/P/1565120752.0...   249536
179088  http://images.amazon.com/images/P/067167806X.0...   249791
179089  http://images.amazon.com/images/P/1561709085.0...   250405
179090  http://images.amazon.com/images/P/8874960018.0...   250739

        Book-Rating_x                                   Location        Age  \
0                   5                   timmins, ontario, canada  36.234736
1                   0                   timmins, ontario, canada  36.234736
2                   5                   timmins, ontario, canada  36.234736
3                   0                   timmins, ontario, canada  36.234736
4                   0                  knoxville, tennessee, usa  29.000000
...               ...                                        ...        ...
179086              0  sta. coloma de gramenet, barcelona, spain  32.000000
179087              0                   aransas pass, texas, usa  33.000000
179088              7                    york, pennsylvania, usa  38.000000
179089              9                        columbus, ohio, usa  55.000000
179090              0                  segrate, lombardia, italy  36.234736

        Book-Rating_y
0            5.000000
1            0.000000
2            0.590909
3            4.062500
4            4.062500
...               ...
179086       0.000000
179087       0.000000
179088       7.000000
179089       9.000000
179090       0.000000

[179091 rows x 13 columns]

In [31]:
Popular_Book.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating_x,Location,Age,Book-Rating_y
0,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,http://images.amazon.com/images/P/074322678X.0...,8,5,"timmins, ontario, canada",36.234736,5.000000
1,080652121X,Hitler's Secret Bankers: The Myth of Swiss Neu...,Adam Lebor,2000,Citadel Press,http://images.amazon.com/images/P/080652121X.0...,http://images.amazon.com/images/P/080652121X.0...,http://images.amazon.com/images/P/080652121X.0...,8,0,"timmins, ontario, canada",36.234736,0.000000
2,1552041778,Jane Doe,R. J. Kaiser,1999,Mira Books,http://images.amazon.com/images/P/1552041778.0...,http://images.amazon.com/images/P/1552041778.0...,http://images.amazon.com/images/P/1552041778.0...,8,5,"timmins, ontario, canada",36.234736,0.590909
3,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,8,0,"timmins, ontario, canada",36.234736,4.062500
4,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,3363,0,"knoxville, tennessee, usa",29.000000,4.062500
5,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,61501,7,"timmins, ontario, canada",36.234736,4.062500
6,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,148514,10,"barstow, california, usa",36.234736,4.062500
7,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,174304,0,"st. louis, missouri, usa",26.000000,4.062500
8,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,http://images.amazon.com/images/P/1558746218.0...,177090,0,"ashland, missouri, usa",37.000000,4.062500
9,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...,8,6,"timmins, ontario, canada",36.234736,6.000000

In [32]:
import nltk

In [33]:
Popular_Book.drop(columns=["Age", "Book-Rating_y"], inplace=True)

In [34]:
Popular_Book.drop(columns=['Image-URL-S','Image-URL-M','Image-URL-L'],inplace=True)

In [35]:
Popular_Book.head(10)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating_x,Location
0,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,8,5,"timmins, ontario, canada"
1,080652121X,Hitler's Secret Bankers: The Myth of Swiss Neu...,Adam Lebor,2000,Citadel Press,8,0,"timmins, ontario, canada"
2,1552041778,Jane Doe,R. J. Kaiser,1999,Mira Books,8,5,"timmins, ontario, canada"
3,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,8,0,"timmins, ontario, canada"
4,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,3363,0,"knoxville, tennessee, usa"
5,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,61501,7,"timmins, ontario, canada"
6,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,148514,10,"barstow, california, usa"
7,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,174304,0,"st. louis, missouri, usa"
8,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,177090,0,"ashland, missouri, usa"
9,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade,8,6,"timmins, ontario, canada"

In [36]:
Popular_Book.rename(columns={'Book-Rating_x':'Ratings'}, inplace=True)

In [37]:
Popular_Book.iloc[20].ISBN

'1841721522'

In [38]:
print(Popular_Book)

              ISBN                                         Book-Title  \
0       074322678X            Where You'll Find Me: And Other Stories
1       080652121X  Hitler's Secret Bankers: The Myth of Swiss Neu...
2       1552041778                                           Jane Doe
3       1558746218  A Second Chicken Soup for the Woman's Soul (Ch...
4       1558746218  A Second Chicken Soup for the Woman's Soul (Ch...
...            ...                                                ...
179086  8401424828                                 Hija de Homero, La
179087  1565120752                                       Winter Birds
179088  067167806X  From Winchester to Cedar Creek: The Shenandoah...
179089  1561709085  Inner Peace for Busy People: Simple Strategies...
179090  8874960018           L'Occhio Nero Al Panda Gliel'ho Fatto IO

                  Book-Author Year-Of-Publication  \
0                 Ann Beattie                2002
1                  Adam Lebor                2000
2                R. J. Kaiser                1999
3               Jack Canfield                1998
4               Jack Canfield                1998
...                       ...                 ...
179086          Robert Graves                1996
179087           Jim Grimsley                1994
179088         Jeffry D. Wert                1989
179089  Joan, Ph.D. Borysenko                2001
179090           Paolo Migone                2003

                               Publisher  User-ID  Ratings  \
0                               Scribner        8        5
1                          Citadel Press        8        0
2                             Mira Books        8        5
3                  Health Communications        8        0
4                  Health Communications     3363        0
...                                  ...      ...      ...
179086  Plaza &amp; Janes Editores, S.A.   249320        0
179087    Algonquin Books of Chapel Hill   249536        0
179088                        Touchstone   249791        7
179089             Hay House Audio Books   250405        9
179090                          Kowalski   250739        0

                                         Location
0                        timmins, ontario, canada
1                        timmins, ontario, canada
2                        timmins, ontario, canada
3                        timmins, ontario, canada
4                       knoxville, tennessee, usa
...                                           ...
179086  sta. coloma de gramenet, barcelona, spain
179087                   aransas pass, texas, usa
179088                    york, pennsylvania, usa
179089                        columbus, ohio, usa
179090                  segrate, lombardia, italy

[179091 rows x 8 columns]

In [39]:
Popular_Book.head(8)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Ratings,Location
0,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner,8,5,"timmins, ontario, canada"
1,080652121X,Hitler's Secret Bankers: The Myth of Swiss Neu...,Adam Lebor,2000,Citadel Press,8,0,"timmins, ontario, canada"
2,1552041778,Jane Doe,R. J. Kaiser,1999,Mira Books,8,5,"timmins, ontario, canada"
3,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,8,0,"timmins, ontario, canada"
4,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,3363,0,"knoxville, tennessee, usa"
5,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,61501,7,"timmins, ontario, canada"
6,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,148514,10,"barstow, california, usa"
7,1558746218,A Second Chicken Soup for the Woman's Soul (Ch...,Jack Canfield,1998,Health Communications,174304,0,"st. louis, missouri, usa"

In [40]:
# sorted(list(enumerate(cs[0])),reverse=True,key=lambda x: x[1])[1:6]

In [41]:
Popular_Book['Book_summary']=Popular_Book['Book-Title'] + Popular_Book['Book-Author']

In [42]:
Popular_Book.iloc[6].Book_summary

"A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series)Jack Canfield"

In [43]:
Popular_Book['Book_summary']=Popular_Book['Book_summary'].astype(str)

In [44]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [45]:
def stem(text):
    y=[]

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [46]:
Popular_Book['Book_summary'].apply(stem)

0         where you'll find me: and other storiesann beatti
1         hitler' secret bankers: the myth of swiss neut...
2                                      jane doer. j. kaiser
3         a second chicken soup for the woman' soul (chi...
4         a second chicken soup for the woman' soul (chi...
                                ...
179086                       hija de homero, larobert grave
179087                             winter birdsjim grimsley
179088    from winchest to cedar creek: the shenandoah c...
179089    inner peac for busi people: simpl strategi for...
179090    l'occhio nero al panda gliel'ho fatto iopaolo ...
Name: Book_summary, Length: 179091, dtype: object

In [47]:
Popular_Book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179091 entries, 0 to 179090
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 179091 non-null  object
 1   Book-Title           179091 non-null  object
 2   Book-Author          179090 non-null  object
 3   Year-Of-Publication  179091 non-null  object
 4   Publisher            179089 non-null  object
 5   User-ID              179091 non-null  int64
 6   Ratings              179091 non-null  int64
 7   Location             179091 non-null  object
 8   Book_summary         179091 non-null  object
dtypes: int64(2), object(7)
memory usage: 12.3+ MB

In [49]:
Popular_Book.iloc[500].Book_summary

"Corelli's Mandolin : A NovelLOUIS DE BERNIERES"

In [50]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
cv = CountVectorizer(max_features = 5000,stop_words = 'english')
vectors=cv.fit_transform(Popular_Book['Book_summary'])

NameError: name 'CountVectorizer' is not defined

In [52]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

NameError: name 'vectors' is not defined

In [53]:
sorted(list(enumerate(similarity[0])),reverse=True)

NameError: name 'similarity' is not defined